.container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}
.Pendiente{
    background-color: yellow;
}
.Cumplida{
    background-color: green;
}